*
{
	padding : 0;
	margin : 0;
}
.box-container{
	width:100%;
	margin:0 auto;
}

.main-wrapper
{
	background:#f5f5f5;
}
.left-bar
{
	width:15%;
	float:left;
	/*background: red;*/
}

.left-bar .start-slideshow
{
	top : 0px;
	width : 50px;
	color : #fff;
	display:inline-block;

	margin : 5px auto;
	background : #4caf50;
	text-align : center;
	border-radius : 50px;
	line-height :50px;
	height : 50px;
	font-size : 25px;
	margin:10px;
}
.btn-lg{

}
.no-slide{
	background:url(../images/1.png);
}
.no-slide{
	background:url(../images/2.png);
}

.left-bar .slides-thumbnail 
{
	/*margin: 2px;*/
	width:80%;
	margin : 5px auto;
	height : 100px;
	background: white;
	/*float:left;*/
	text-align: center;
}
.left-bar .add-slides
{
	bottom:0px;
	width:50px;
	color:#fff;

	margin:0 auto;
	background: #f44336;
	text-align: center;
	border-radius: 50px;
	line-height:50px;
	height:50px;
	font-size:25px;
}

.left-bar .edit-slide
{
	bottom:0px;
	width:50px;
	color:#fff;
	display:inline-block;

	margin:0 auto;
	background: #2196fa;
	text-align: center;
	border-radius: 50px;
	line-height:50px;
	height:50px;
	font-size:25px;
	margin:10px;

}

.left-bar .add-slides:hover
{
	font-weight: bold;
	background:#e53935;
}
.tools
{
	margin:4px;
	height:25px;
}
.btn-md.next{
	padding-top:2px;
	padding-bottom:2px;
	display: block;
}
.slides-container
{
	overflow-y: scroll;
	margin : 5px auto;
	height : 535px;
	background: #afafaf;
	/*float:left;*/
	text-align : center;
}
.top-tools
{
	float : right;
	width : 19%;
	background-color:#e6e6e6;
	padding:0px 20px;
	
}
.slides-controller
{
	width:98%;
	background:#2169ca;
	float:left;
	padding:1%;
}

.text{
	width:50px;height:50px;
	background:black;
}
.change-position{
	width:50px;
	height:25px;
	/*background:green;*/
}
.fontsize{
	width:30px;

}
.btn-sm{
	width:25px;
	height:25px;
	/*margin:5px;*/
	text-align:center;
	padding-top:5px;
	border-radius:2px;
	display: inline-block;
	background-color:none;
	-webkit-transition:background-color 0.7s; /* For Safari 3.1 to 6.0 */
    transition:background-color 0.7s;

}
.btn-md{
	width:80px;
	height:20px;
	/*margin:5px;*/
	text-align:center;
	padding-top:5px;
	border-radius:2px;
	display: inline-block;
	background-color:#cccccc;
	-webkit-transition:background-color 0.7s; /* For Safari 3.1 to 6.0 */
    transition:background-color 0.7s;

}
.btn-lg{
	/*width:80px;*/
	height:20px;
	/*margin:5px;*/
	text-align:center;
	padding-top:5px;
	border-radius:2px;
	display: inline-block;
	background-color:#cccccc;
	-webkit-transition:background-color 0.7s; /* For Safari 3.1 to 6.0 */
    transition:background-color 0.7s;

}
.btn-sm:hover{
	background-color:#a0a0a0;
	 /*transition: all .5s ease-in-out*/
}
.btn-md:hover{
	background-color:#a0a0a0;
	 /*transition: all .5s ease-in-out*/
}
.btn-lg:hover{
	background-color:#a0a0a0;
	 /*transition: all .5s ease-in-out*/
}

.left-align{
	background-image:url(../images/left-align.png);
	background-repeat:no-repeat;
	background-position: 50%;
}
.right-align{
	background-image:url(../images/right-align.png);
	background-repeat:no-repeat;
	background-position: 50%;
}

.center-align{
	background-image:url(../images/center-align.png);
	background-repeat:no-repeat;
	background-position: 50%;
}

.justified-align{
	background-image:url(../images/justified-align.png);
	background-repeat:no-repeat;
	background-position: 50%;
}










.slides-area
{
		width:60%;
		float:left;
		padding:1%;
		position:relative;
		overflow:hidden;
}
.slides-area.show
{
		float:left;
		padding:1%;
		position:relative;
		overflow:hidden;
}
.tool-seperator
{
	font-weight:bold;
	padding-top:15px;
	padding-bottom:10px;
	font-size:18px;
	border-top:1px solid #000;
}

.slide
{
	position : relative;
	float : left;
	width : 100%;
	height : 20%;
	background:#fff;
	margin : 0 auto;
	margin-bottom:15px;
}
.slides-area .slide
{
	position : relative;
	float : left;
	width : 819px;
	height : 460px;
	/*background : #e1bee8;*/
	margin:0px 0px 15px 0px;
	border:1px solid #000;

}

.slide-control
{
	position : absolute;
	width : 50px;
	height:50px;
	bottom : 10px;
	right : 10px;
	background: black;
	z-index : 2;
}

.slides-area .viewport-container
{
	left : 0px;
	width : 819px;
	max-height : 460px;
	overflow:hidden;
}

.slides-area
{
	height : 460px;
}

.next-bar{
	width:25px;
	height:25px;
	background:url(../images/next-inactive.png) 50% 50% no-repeat;
	position: absolute;
	z-index:5;
	right:25px;
	bottom:50px;
}

.down-bar{
	width:25px;
	height:25px;
	background:url(../images/down-inactive.png) 50% 50% no-repeat;
	position: absolute;
	z-index:5;
	right:50px;
	bottom:25px;
}
.up-bar{
	width:25px;
	height:25px;
	background:url(../images/up-inactive.png) 50% 50% no-repeat;
	position: absolute;
	z-index:5;
	right:50px;
	bottom:75px;
}
.previous-bar{
	width:25px;
	height:25px;
	background:url(../images/previous-inactive.png) 50% 50% no-repeat;
	position: absolute;
	z-index:5;
	right:75px;
	bottom:50px;
}
.next-bar.active{
	background:url(../images/next.png) 50% 50% no-repeat;
}
.previous-bar.active{
	background:url(../images/previous.png) 50% 50% no-repeat;
}
.up-bar.active{
	background:url(../images/up.png) 50% 50% no-repeat;
}
.down-bar.active{
	background:url(../images/down.png) 50% 50% no-repeat;
}


	



/* Controls */

.controls{
	width : 25px;
	height : 25px;
	display:inline-block;
}

.backgroundColor{
	background-color : #069688;
}


.slide{
	width:100%;
	height:100%;
	float:left;
}






















.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}